
<div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
        <mat-card-title>That's okay! We all get anxious sometimes!</mat-card-title>
        <br>

        <mat-divider></mat-divider>

        Here's a something that might help! Give it a go!

        <br>

        <div class="container">
            <iframe id="anxiousResponseVideoFrame"
                    src="https://www.youtube.com/embed/MR57rug8NsM"
                    frameborder="0"
                    allowfullscreen
                    class="video1"></iframe>
        </div>

        <br>

        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button id="exitButton" (click)="onExitClick()" type="button">Exit</button>

        <mat-divider></mat-divider>

    </mat-card>

</div>
