<div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
        <mat-card-title>Sorry to hear that!</mat-card-title>
        <br>

        <mat-divider></mat-divider>

        How about we tray watching this and see if that helps?

        <br>

        <div class="container">
            <iframe id="responseVideoFrame"
                    src="https://www.youtube.com/embed/ko6bcGkI0QE"
                    frameborder="0"
                    allowfullscreen
                    class="video"></iframe>
        </div>

        <br>

        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button id="exitButton" (click)="onExitClick()" type="button">Exit</button>

        <mat-divider></mat-divider>

    </mat-card>

</div>
