<div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
        <mat-card-title>That's understandable. It is good to vent our emotions sometimes</mat-card-title>
        <br>

        <mat-divider></mat-divider>

        It's not healthy to be mad for long, by the way! See if this can help!

        <br>

        <div class="container">
            <iframe id="responseVideoFrame"
                    src="https://www.youtube.com/embed/pk0Jeqcv5Q8"
                    frameborder="0"
                    allowfullscreen
                    class="video"></iframe>
        </div>

        <br>

        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button id="exitButton" (click)="onExitClick()" type="button">Exit</button>

        <mat-divider></mat-divider>

    </mat-card>

</div>
